absl-py @ file:///C:/ci/absl-py_1603893176799/work
aiohttp @ file:///D:/bld/aiohttp_1603792839235/work
alibi==0.5.5
anaconda-client==1.7.2
anaconda-navigator==1.9.12
argon2-cffi @ file:///C:/ci/argon2-cffi_1596828549974/work
astor==0.8.1
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
backcall==0.2.0
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1605305165209/work
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.2
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
blinker==1.4
blis==0.4.1
brotlipy==0.7.0
cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
cachetools @ file:///tmp/build/80754af9/cachetools_1596822027882/work
certifi==2020.11.8
cffi @ file:///C:/ci/cffi_1605538148575/work
chardet @ file:///C:/ci/chardet_1605303259695/work
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
conda==4.9.2
conda-build==3.18.9
conda-package-handling @ file:///C:/ci/conda-package-handling_1603018162806/work
conda-verify==3.4.2
confuse==1.3.0
cryptography @ file:///C:/ci/cryptography_1605544557248/work
cssselect==1.0.3
cycler==0.10.0
cymem==2.0.3
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1602029610262/work
decorator==4.4.2
defusedxml==0.6.0
en-core-web-sm==2.2.5
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gast==0.2.2
GetOldTweets3==0.0.10
glob2==0.7
google-auth @ file:///tmp/build/80754af9/google-auth_1604100403705/work
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1603929124518/work
google-pasta==0.2.0
grpcio @ file:///D:/bld/grpcio_1604365793491/work
h5py @ file:///D:/bld/h5py_1604753757907/work
htmlmin==0.1.12
hypopt==1.0.9
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imagecodecs @ file:///D:/bld/imagecodecs_1602637571292/work
ImageHash==4.1.0
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
ipykernel @ file:///C:/ci/ipykernel_1596208728219/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1604101327119/work
ipython-genutils==0.2.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
itsdangerous==1.1.0
jedi @ file:///C:/ci/jedi_1596472767194/work
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
Keras==2.3.1
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing==1.1.0
kiwisolver @ file:///D:/bld/kiwisolver_1604322456418/work
langdetect==1.0.7
libarchive-c==2.9
llvmlite==0.34.0
Mako==1.1.3
Markdown @ file:///C:/ci/markdown_1605111187600/work
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
matplotlib @ file:///C:/ci/matplotlib-base_1603356257853/work
menuinst==1.4.16
missingno==0.4.2
mistune @ file:///C:/ci/mistune_1594373272338/work
multidict @ file:///C:/ci/multidict_1605107772072/work
murmurhash==1.0.4
navigator-updater==0.2.1
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///C:/ci/nbconvert_1601914921407/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1605195931949/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
notebook @ file:///D:/bld/notebook_1605103885768/work
numba @ file:///D:/bld/numba_1599085049111/work
numpy @ file:///D:/bld/numpy_1602429292582/work
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
packaging==20.4
pandas @ file:///D:/bld/pandas_1604166721606/work
pandas-profiling==2.9.0
pandocfilters @ file:///C:/ci/pandocfilters_1605102427207/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1595548966091/work
pathlib==1.0.1
phik==0.10.0
pickleshare @ file:///C:/ci/pickleshare_1594374056827/work
Pillow @ file:///C:/ci/pillow_1603821929285/work
pkginfo==1.6.1
plac==1.1.3
pprint==0.1
preshed==3.0.2
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1605543085815/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.13.0
psutil @ file:///D:/bld/psutil_1603571187307/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments @ file:///tmp/build/80754af9/pygments_1604103097372/work
pygpu==0.7.6
PyJWT==1.7.1
pymongo==3.8.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1605545627475/work
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyquery==1.4.0
pyreadline==2.1
pyrsistent @ file:///C:/ci/pyrsistent_1600123688363/work
PySocks @ file:///C:/ci/pysocks_1594394709107/work
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1604321279890/work
PyWavelets @ file:///D:/bld/pywavelets_1602504662693/work
pywin32==228
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==20.0.0
QtPy==1.9.0
readability-lxml==0.7.1
regex @ file:///D:/bld/regex_1605271133491/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1605186911681/work
requests-oauthlib==1.3.0
rsa @ file:///tmp/build/80754af9/rsa_1596998415516/work
ruamel-yaml==0.15.87
scikit-image==0.17.2
scikit-learn @ file:///C:/ci/scikit-learn_1598376983131/work
scipy==1.4.1
seaborn==0.11.0
Send2Trash==1.5.0
shap @ file:///D:/bld/shap_1600703645951/work
six @ file:///C:/ci/six_1605205426665/work
slicer @ file:///home/conda/feedstock_root/build_artifacts/slicer_1600387841693/work
soupsieve==2.0.1
spacy==2.2.2
spacy-lookups-data==1.0.0rc0
srsly==0.2.0
tangled-up-in-unicode==0.0.6
tensorboard==2.1.1
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1603349307347/work/tensorboard_plugin_wit-1.7.0-py3-none-any.whl
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
Theano @ file:///D:/bld/theano_1604228796430/work
thinc==7.3.1
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1605791182827/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///D:/bld/tornado_1604105307492/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1605543106900/work
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
tweepy==3.8.0
twitter==1.18.0
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
visions==0.5.0
wasabi==0.4.0
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==0.16.1
widgetsnbextension==3.5.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306165655/work
wincertstore==0.2
wrapt==1.12.1
xlrd==1.2.0
xmltodict==0.12.0
yarl @ file:///D:/bld/yarl_1605429655746/work
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
